h1 {
    color: rgb(42, 112, 218);
    text-align: center  ;
}
body {
    font-family: helvetica, arial, sans-serif;
}
#placita {
	background-color: #eee;
	height: 80vh;
	width: 75vw;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	margin: auto;
}
img{
	position: absolute;
	max-width: 150%;
	max-height: 150%;
}
body {
    font-family: helvetica, arial, sans-serif;
}
.contenedor {
	background-color: #eee;
	width: 15%;
	height: 100%;
	top: 0px;
	position: absolute;
	padding: 10px;
}
.contenedor-componente {
	position: relative;
	height: 10.5%;
	left: 20%;
	margin: 0.5em;
}
.cielo {
	background: #BDE6F1;
	display: flex;
	height: 55vh;
}

.suelo {
	background: #C9E4C5;
	display: flex;
	height: 45vh;
}
#contenedor-izquierdo {
	background-color: #eee;
	width: 10%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}
#contenedor-derecho {
	background-color: #eee;
	width: 10%;
	height: 100%;
	right: 0px;
	top: 0px;
	position: absolute;
	padding: 10px;
}